<div class="content">
  <h1>Welcome to Resistance Calculator!</h1>

  <fieldset>
    <legend>Resistance: <span id="results">{{result}}</span></legend>
    <p>Select bands</p>
    <table>
      <tr>
        <th colspan="3">Digits</th>
    	<th>Multiplier</th>
    	<th>Tolerance</th></tr>
      <tr>
        <td>          
          <select type="number" [(ngModel)]="values.digit1" (ngModelChange)="onChange($event)" name="digit1" id="digit1">
            <option *ngFor="let digit of digits" [ngValue]="digit.value">{{digit.name}}</option>
          </select>
        </td>
        <td>
          <select type="number" [(ngModel)]="values.digit2" (ngModelChange)="onChange($event)" name="digit2" id="digit2">
            <option *ngFor="let digit of digits" [ngValue]="digit.value">{{digit.name}}</option>
          </select>
        </td>
        <td>
          <select type="number" [(ngModel)]="values.digit3" (ngModelChange)="onChange($event)" name="digit3" id="digit3">
            <option *ngFor="let digit of digits" [ngValue]="digit.value">{{digit.name}}</option>
          </select>
        </td>
        <td>
          <select type="number" [(ngModel)]="values.multiplier" (ngModelChange)="onChange($event)" name="multiplier" id="multiplier">
            <option *ngFor="let multiplier of multipliers" [ngValue]="multiplier.value">{{multiplier.name}}</option>
          </select>
        </td>
        <td>
          <select type="number" [(ngModel)]="values.tolerance" (ngModelChange)="onChange($event)" name="tolerance" id="tolerance">
            <option *ngFor="let tolerance of tolerances" [ngValue]="tolerance.value">{{tolerance.name}}</option>
          </select>
        </td>
      </tr>
    </table>
  </fieldset>
  
  <fieldset>
    <legend>Debug</legend>
    <p>Digits:
      <span [style]="getSquareStyle(digitToColor(values.digit1))">&nbsp;</span> <span id="digit1ColorName">{{digitToColor(values.digit1)}}</span>,
      <span [style]="getSquareStyle(digitToColor(values.digit2))">&nbsp;</span> <span id="digit2ColorName">{{digitToColor(values.digit2)}}</span>,
      <span [style]="getSquareStyle(digitToColor(values.digit3))">&nbsp;</span> <span id="digit3ColorName">{{digitToColor(values.digit3)}}</span>
    </p>
    <p>Multiplier:
      <span [style]="getSquareStyle(multiplierToColor(values.multiplier))">&nbsp;</span> <span id="multiplierColorName">{{multiplierToColor(values.multiplier)}}</span>
    </p>
    <p>Tolerance:
      <span [style]="getSquareStyle(toleranceToColor(values.tolerance))">&nbsp;</span> <span id="toleranceColorName">{{toleranceToColor(values.tolerance)}}</span>
    </p>
  </fieldset>
</div>
